@import 'tailwindcss';

:root {
  color-scheme: dark;
}

body {
  background-image: radial-gradient(circle at top left, rgb(24 24 27 / 0.85), rgb(0 0 0));
  -webkit-user-select: none;
  user-select: none;
}
